dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.hp
*.aux
*~
*.log
.cb
default.nix
.dir-locals.el
ghc-mod.package-db-stack
*.dyn_hi
*.dyn_o
cabal.nix
src/HaddockTest.hs
default.nix.orig
default.nix.bak
.ghc.environment.*
cabal.project.local
dist-newstyle/
dist-newstyle/
